<!DOCTYPE html>
<html lang=ja xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>インデックス</title>
</head>

<body>

	<img src="/api/image/channel/UCdpUojq0KWZCN9bxXnZwz5w/thumbnail" alt="あるすサムネ">
	<br><a href="/api/image/channel/UCdpUojq0KWZCN9bxXnZwz5w/thumbnail">/api/image/channel/UCdpUojq0KWZCN9bxXnZwz5w/thumbnail</a>
	<br>
	<br><a href="http://nijisanji-live.com">http://nijisanji-live.com</a>
	<br><a href="http://nijisanji-live.com/">http://nijisanji-live.com/</a>
	<br><a href="http://nijisanji-live.com/channels">http://nijisanji-live.com/channels</a>
	<br><a href="http://nijisanji-live.com/#/channels">http://nijisanji-live.com/#/channels</a>
	<br>
	<br><a href="https://nijisanji-live.com">https://nijisanji-live.com</a>
	<br><a href="https://nijisanji-live.com/">https://nijisanji-live.com/</a>
	<br><a href="https://nijisanji-live.com/channels">https://nijisanji-live.com/channels</a>
	<br><a href="https://nijisanji-live.com/#/channels">https://nijisanji-live.com/#/channels</a>
    <br>
    <br><a href="/api/video/live?mode=new">/api/video/live?mode=new</a>
    <br>
</body>

</html>